@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
$nav-color: #00b7eb;
$nav-link-color: white;
$nav-link-fonts: "Fredoka One", cursive;
$nav-logo-fonts: "Luckiest Guy", cursive;
.search {
  display: flex;
  width: 100%;
  height: auto;
  padding: 10px;
  align-items: center;
  font-family: $nav-link-fonts;
  color: $nav-color;

  &:hover {
    cursor: pointer;
    color: orange;
  }
  .search-main {
    display: flex;
    align-items: center;
    padding: 10px;
    &:hover {
      background-color: #f3f3f3;
      .search-image {
        border: 2px solid orange;
      }
      .search-add-friend{
          background-color: orange;
          label{
            cursor: pointer;
          }
      }
    }
    .search-image {
      width: 15%;
      height: auto;
      border-radius: 100px;
      cursor: pointer;
      margin: 0 10px;
      border: 2px solid $nav-color;
    }
    .search-label {
      display: flex;
      width: 50%;
      height: 100%;
      margin: 0 10px;
      font-size: 20px;
      cursor: pointer;
    }
    .search-add-friend {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30%;
      height: 100%;
      background-color: $nav-color;
      border-radius: 40px;
      label {
        color: white;
        padding: 10px;    
      }      
    }
  }
}
